

@font-face {
  font-family: "Conv_1350-font";
  src: url("fonts/1350-font.eot");
  src: local("☺"), url("fonts/1350-font.woff") format("woff"),
    url("fonts/1350-font.ttf") format("truetype"),
    url("fonts/1350-font.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

input {
  text-align: center;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.main_container {
  display: flex;
  justify-content: center;
  background-color: #ffe300;
  height: 40px;
}

.container {
  margin: 0px auto 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(63, 56, 56);
}

.user {
  width: 300px;
  height: 350px;
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 10px;
  background-image: url(src/heroes/bg.jpg);
  background-size: cover;
}
.user__name {
  padding: 0 10px;
  margin: 0;
  font-family: "Conv_1350-font";
  color: white;
  letter-spacing: 3px;
}
.dataWrapper {
  margin: 0 0 -10px 0;
  padding: 0;

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user__birthday {
  font-family: "Conv_1350-font";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  width: 50%;
  height: 30px;

  letter-spacing: 2px;
  background-color: #ffe300;
}
.user__gender {
  font-family: "Conv_1350-font";
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
  width: 50%;
  height: 30px;

  letter-spacing: 2px;
  background-color: #ffe300;
}
button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button {
  border: none;

  background-color: rgb(206, 202, 202);
  color: black;

  padding: 1px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 2px;
  font-family: "Conv_1350-font";
}

button:hover {
  background-color: #ffe300;
  color: black;
}
